
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body{
  color:#394867;
  font-size: 20px;
  font-weight: 300px;
  background-color: #f1f6f9;
  margin-left:40px ;
 
  
}

h1, h2, h3, h4, h5, h6 {
  color: #14274E;
}



.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
.form-group {
    text-align: left;
    margin-left:40px ;
    width:250px;
    float: left;
}

.leftContainer{
  text-align: left;
  padding: 10px;
  align-items: left
  

}

.right-half {
  
  position: absolute;
  right: 0px;
  width: 50%;
  align-items: center;
  float: right;
}

.left-half {
  
  position: absolute; 
  left: 0px;
  width: 50%;
  align-items: center;
  float: left;
  margin: 10px;
}

/* .background-image{
  opacity: 0.6;
} */


