@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body{
  color:#394867;
  font-size: 20px;
  font-weight: 300px;
  background-color: #f1f6f9;
}

h1, h2, h3, h4, h5, h6 {
  color: #14274E;
}

.dropdown-menu dropdown-menu-dark
{
  color: #d99100;
}

.button-wrapper .btn {
    margin-bottom:5px;
}

.jumbotron {
  background-color: #f1f6f9;
}

.MainContent {
  position: auto;
  flex-wrap: wrap;
  margin-bottom:600px;
  margin-top:20px;
}


.btn-account-grp {
  position: absolute;
  top: 55px;
  right: 40px; 
  margin-right: 0;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.form-group {
    text-align: center;
    margin: 0 auto; 
    width:250px;
      display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.db-nav
{
  text-align: center;
  margin: auto;
  width: 50%;
  
}

.footer-body
{
  padding:50px 0;
  background: rgb(241,246,249);
background: linear-gradient(180deg, rgba(241,246,249,1) 0%, rgba(252,207,3,1) 35%, rgba(252,207,3,1) 100%);
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}