
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body{
  color:#394867;
  font-size: 20px;
  font-weight: 300px;
  background-color: #f1f6f9;
}

h1, h2, h3, h4, h5, h6 {
  color: #14274E;
}

.jumbotron {
  background-color: #f1f6f9;
}

.MainContent {
  vertical-align: middle;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  column-gap: 40px;
  
}

.btn-account-grp {
  position: absolute;
  top: 55px;
  right: 40px; 
  margin-right: 0;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.form-group {
    text-align: center;
    margin: 0 auto; 
    width:250px;
      display: flex;
  flex-wrap: wrap;
  align-content: center;


}

.appgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  
}

.appgrid > div {
  background: black;
  padding: 1rem;
}
.appgrid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.appgrid > div > img {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}



