@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #394867;
    font-size: 20px;
    font-weight: 300px;
    background-color: #f1f6f9;
    margin-left: 40px;
}

.MainContent {
    float: left;
    width: 50%;
}

.SecndContent {
    padding: 35px;
    float: none;
    align-content: center;
    text-align: center;
    background-color: #D3D3D3;
}

.card-dash {
    align-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .MainContent {
        margin: auto;
        width: 50%;
        float: none;
        align-content: center;
        text-align: center;
    }
    .row:after {
        clear: both;
        display: contents;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.db-nav {
    overflow-y: scroll;
}