@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #394867;
    font-size: 20px;
    font-weight: 300px;
    background-color: #f1f6f9;
}

.MainContent {
    float: left;
    width: 50%;
}

.SecndContent {
    padding: 35px;
    float: none;
    align-content: center;
    text-align: center;
    background-color: #D3D3D3;
}

.card-dash {
    align-content: center;
}

.row {
    max-width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .MainContent {
        margin: auto;
        width: 50%;
        float: none;
        align-content: center;
        text-align: center;
    }
    .row:after {
        clear: both;
        display: contents;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.form-hidden {
    overflow: hidden;
    width: 0;
    height: 0;
    transition: width 1s;
    visibility: hidden;
}

.form-container {
    overflow: hidden;
    width: 100%;
    transition: width 1s;
    visibility: visible;
}

.card:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-hex-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.chart-overall-container {
    margin-top: 150px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 20px;
    position: relative;
    margin: auto;
    height: 300px;
}

.chart-overall-container:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-hex-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.db-nav {
    overflow-y: scroll;
    margin-left: 20px;
}

#DropDownBox{
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 30px;
  color: #384662;
  margin: 8px;
  margin-top: 0px;
}

#ClientSelect{
  cursor: pointer;
  transition: height .4s ease;
  content: "+";
  background-color: #E9ECEF;
  border-color: #DBE0E5;
  color: #384662;
}


#generatorButton{
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.rightColumn{
  position: absolute;
  right: 5%;
  width: 44%;
  align-items: center;
  float:right;
}

.leftColumn{
  position: absolute;
  left: 5%;
  width: 44%;
  align-items: center;
  float:left;
}

.btn{
  padding: 2px;
  background-color: #F1F6F9;
  border-color: #0297a2;
  color: #0297a2;
  border-width: 4px;
}

.btn:hover{
  background-color: #0297a2;
  color: white;
  border-color: #0297a2;
}
