@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #394867;
    font-size: 20px;
    font-weight: 300;
    background-color: #f1f6f9;
    padding-left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #14274E;
    font-weight: 100;
    color: #20a5b7;
    /* color: #0397a2 */
    margin-top: 20px;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#form-2-cols {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
}