.right-half {
    width: 50%;
    align-items: center;
    float: right;
}

.left-half {
    width: 50%;
    align-items: center;
    float: left;
}

.form-hidden {
    overflow: hidden;
    width: 0;
    height: 0;
    transition: width 1s;
    visibility: hidden;
}

#vis-content {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
}

@media (max-width: 48em) {
    #vis-content .form-container {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto 1fr;
    }
    #vis-content .form-container>* {
        width: 100%;
    }
}