.right-half {
    width: 50%;
    align-items: center;
    float: right;
}

.left-half {
    width: 50%;
    align-items: center;
    float: left;
}

.form-hidden {
    overflow: hidden;
    width: 0;
    height: 0;
    transition: width 1s;
    visibility: hidden;
}

#vis-content {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
}

.btn {
    padding: 2px;
    font-size: 24px;
    background-color: #F1F6F9;
    border-color: #0297a2;
    color: #0297a2;
    border-width: 4px;
}

.btn:hover {
    background-color: #0297a2;
    color: white;
    border-color: #0297a2;
}

.card {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.card-title {
    font-size: 28px;
    color: #20a5b7;
}

#userName {
    font-weight: 600;
}

#cardID {
    display: grid;
    grid-template-columns: 1fr auto;
}

#rightHalfID {
    width: auto;
    padding-top: 40px;
}

#leftHalfID {
    width: auto;
}

@media (max-width: 48em) {
    #vis-content {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto 1fr;
    }
    .form-container {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }
    #vis-content .form-container>* {
        width: 100%;
    }
    #cardID {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto;
        padding-left: 0;
    }
    #leftHalfID {
        text-align: center;
    }
    #leftHalfID>img {
        width: 80%
    }
    .card-body>form,
    .card-body {
        text-align: center;
    }
    .card {
        margin-left: 5%;
        margin-right: 5%;
    }
}